header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: white;
    /* Light background color */
    padding-left: 23.5%;
    padding-right: 23.5%;

}

.logo {
    height: 40px;
    /* Logo height */
}